*{
    color: #333;
    padding: 0;
    margin: 0;
    text-decoration: none;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:link { color: #444; }
a:visited { color: #555; }
a:hover { color: #666; }
a:active { color: #555; }

ul{
    list-style: none;
}

img{
    vertical-align: middle;
}

.flexContainer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}